<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../public/js/cardGame.js"></script>
    <script>
        const test1 = document.getElementById('tes1');
        function selectCardHandle(){
            console.log(getCardPack());
        }
    
        function selectCardHandle2(){
            console.log(getCardByNum(0));
        }
        function cardSuffleHandle(){
            cardSuffle();
        }

        function cardSuffleHandle(){
            cardSuffle();
        }
        function setTrumpCardPackHandle(){
            setTrumpCardPack();
        }

        function setTbCardpackHandle(){
            setTouchDownCardPack();
        }
        function divCardHandle(){
            console.log(divideSuffleCardTd(3));
        }
        function checkCardSumTdHandle(){
            let arr = [{id : 0, count : 1, emblem: "s", status : "u"},
            {id : 2, count : 1, emblem: "s", status : "u"},
            {id : 3, count : 5, emblem: "s", status : "u"},]
            console.log(checkCardSumTd(arr));
        }
    </script>
</head>    
<body>
    <table>
        <tr>
            <td><button id="cardBtn" onclick="javascript:selectCardHandle()">카드팩 전체 리스트</td>
            <td><button id="cardBtn" onclick="javascript:setTrumpCardPackHandle()">트럼프 카드팩으로 초기화</td>
            <td><button id="cardBtn2" onclick="javascript:selectCardHandle2()">카드팩 번호로 검색</td>
            <td><button id="cardBtn3" onclick="javascript:cardSuffleHandle()">카드셔플</td>
            <td><button id="cardBtn4" onclick="javascript:setTbCardpackHandle()">할리갈리 카드팩으로 초기화</td>
            <td><button id="cardBtn5" onclick="javascript:divCardHandle()">카드팩 나누기 TD 기준</td>
            <td><button id="cardBtn6" onclick="javascript:checkCardSumTdHandle()">열린 카드 확인</td>
        </tr>

    </table>
</body>
</html>